/* index.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: block;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
 
}

#workArea {
  background: linear-gradient(#334,#111);
  height: 80%;
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  color: #333;
}



#workArea {
  background: -moz-linear-gradient(#333,#111);
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

/* Textarea Styles */
#workArea textarea,#workArea #preview {
  text-align: left;
  width: 85%;
  height: 45%;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  background:#fff;
}

#preview{
  overflow: scroll;
}

/* Footer Styles */
.footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;
  margin-top: 20px;
}
